@tailwind base;
@tailwind components;
@tailwind utilities;


@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700;800;900&family=Montserrat:wght@400;600&display=swap');
*{
  font-family: 'Montserrat', sans-serif;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  border: none;
}

body{
  background-color: #FBFBFA;
}

.shadow{
  box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
}

.p-badge.p-badge-warning{
  display: none;
}